            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Certificate</h2>

                <div class="work__container bd-grid">
                    <div class="work__img wow fadeInLeft"  data-wow-duration="2s" data-wow-delay=".5s">
                        <a href="https://drive.google.com/file/d/16GGTvdrzqO3RmML4jHlvtxtFf0US_3uc/view?usp=sharing" target="_blank">
                          <img src="assets/pic_cer/python_data.png" alt="">
                        </a>
                    </div>
                    <div class="work__img wow fadeInDown"  data-wow-duration="2s" data-wow-delay=".5s">
                      <a href="https://drive.google.com/file/d/198ZaURJc4QqXqlfSEgNjQ6oi7nTnZHLV/view?usp=sharing" target="_blank">
                        <img src="assets/pic_cer/python.png" alt="">
                      </a>
                    </div>
                    <div class="work__img wow fadeInRight"  data-wow-duration="2s" data-wow-delay="1s">
                      <a href="https://drive.google.com/file/d/1Pm-1RrtyMJXRbnMy7AAvE-elIO8F0VLd/view?usp=sharing" target="_blank">
                        <img src="assets/pic_cer/AI.png" alt="">
                      </a>
                    </div>
                    <div class="work__img wow fadeInLeft"  data-wow-duration="2s" data-wow-delay="1s">
                      <a href="https://drive.google.com/file/d/1zWg2uegY9BWvPLl5YpnkQSNxKld8SbwC/view?usp=sharing" target="_blank">
                        <img src="assets/pic_cer/react.png" alt="">
                      </a>
                    </div>
                    <div class="work__img wow fadeInUp"  data-wow-duration="2s" data-wow-delay=".5s">
                      <a href="https://drive.google.com/file/d/1NFmcG5ykCx7yYWTrdAMC1ZxPdGI6ElQu/view?usp=sharing" target="_blank">
                        <img src="assets/pic_cer/blockchain.png" alt="">
                      </a>
                    </div>
                    <div class="work__img wow fadeInRight"  data-wow-duration="2s" data-wow-delay=".5s">
                      <a href="" target="_blank">
                        <img src="" alt="">
                      </a>
                    </div>
                </div>
            </section>
