        <!--===== FOOTER =====-->
        <footer class="footer ">

          <p class="footer__title col-md-6 mt-md-0 mt-3">Khouloud</p>

          <div class="footer__social ">
              <a href="https://www.facebook.com/khouloud.bj711/" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
              <a href="https://www.instagram.com/bj_khouloud/?hl=fr" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
              <a href="https://twitter.com/BejaouiKhoulou8" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
          </div>



          <p>&#169; 2020 copyright all right reserved</p>
      </footer>
