            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
              <h2 class="section-title">Contact</h2>
              <br><br>

              <div class="contact__container bd-grid">
                <div class="work__img ">
                  <ul class="list-unstyled">
                    <li class="wow fadeInLeft"  data-wow-duration="2s" data-wow-delay=".5s">
                      <p>
                        <i class="fas fa-map-marker-alt fa-sm  mr-3"></i>  Address: La mannouba, TUNIS
                      </p>
                    </li>
                    <br><br>
                    <li class="wow fadeInLeft"  data-wow-duration="2s" data-wow-delay="1s">
                      <p>
                        <i class="fas fa-phone fa-sm mt-2  mr-3"></i>  Phone: +216 55 511 323
                      </p>
                    </li>
                    <br><br>
                    <li class="wow fadeInLeft"  data-wow-duration="2s" data-wow-delay="2s">
                      <p>
                          <i class="fas fa-envelope fa-sm mt-2 mr-3"></i>  Email: bejaouikhouloud98@gmail.com
                      </p>


                    </li>

                  </ul>
                </div>
              </div>
          </section>
