            <!--===== ABOUT =====-->
            <section class="about section " id="about">
              <h2 class="section-title">About</h2>

              <div class="about__container bd-grid ">
                  <div class="about__img wow bounceInDown"  data-wow-duration="3s" data-wow-delay=".5s">
                      <img src="assets/img/me.jpg" alt="">
                  </div>

                  <div class="about__img wow bounceInDown"  data-wow-duration="3s" data-wow-delay=".6s">
                      <h2 class="about__subtitle">I'am Khouloud Bejaoui</h2>
                      <p style="font-size: medium;"> <i class='bx bx-calendar-event' ></i> 23-05-1999</p>
                      <br>
                      <p class="about__text">Student at Higher Institute of Computer Science (ISI Ariana).
                        Very passionate about technology and learning, i’m a software & web developer.
                         I’ve worked on various projects involving both front-end and back-end development.
                         <br>I enjoy challenging tasks and look forward to interesting and innovative projects.
                      </p>
                  </div>
              </div>
          </section>
          <br><br>
