            <!--===== ABOUT =====-->
            <section class="about section " id="about">
              <h2 class="section-title">About</h2>

              <div class="about__container bd-grid ">
                  <div class="about__img wow bounceInDown"  data-wow-duration="3s" data-wow-delay=".5s">
                      <img src="assets/img/me.jpg" alt="">
                  </div>

                  <div class="about__img wow bounceInDown"  data-wow-duration="3s" data-wow-delay=".6s">
                      <h2 class="about__subtitle">I'am Khouloud Bejaoui</h2>
                      <p style="font-size: medium;"> <i class='bx bx-calendar-event' ></i> 23-05-1999</p>
                      <br>
                      <p class="about__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate cum expedita quo culpa tempora, assumenda, quis fugiat ut voluptates soluta, aut earum nemo recusandae cumque perferendis! Recusandae alias accusamus atque.</p>
                  </div>
              </div>
          </section>
          <br><br>
