            <!--===== ABOUT =====-->
            <section class="about section " id="about">
              <h2 class="section-title">About</h2>

              <div class="about__container bd-grid ">
                  <div class="about__img wow bounceInDown"  data-wow-duration="3s" data-wow-delay=".5s">
                      <img src="assets/img/me.jpg" alt="">
                  </div>

                  <div class="about__img wow bounceInDown"  data-wow-duration="3s" data-wow-delay=".6s">
                      <h2 class="about__subtitle">I'am Khouloud Bejaoui</h2>
                      <p style="font-size: medium;"> <i class='bx bx-calendar-event' ></i> 23-05-1999</p>
                      <br>
                      <p class="about__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate cum expedita quo culpa tempora, assumenda, quis fugiat ut voluptates soluta, aut earum nemo recusandae cumque perferendis! Recusandae alias accusamus atque.</p>
                      <br><br>
                      <ul class="list-unstyled">
                          <li class="wow fadeInLeft"  data-wow-duration="3s" data-wow-delay="2s">
                            <p>
                              <i class="fas fa-map-marker-alt fa-sm  mr-3"></i>  Address: La mannouba, TUNIS
                            </p>
                          </li>
                          <li class="wow fadeInLeft"  data-wow-duration="3s" data-wow-delay="3s">
                            <p>
                              <i class="fas fa-phone fa-sm mt-2  mr-3"></i>  Phone: +216 55 511 323
                            </p>
                          </li>
                          <li class="wow fadeInLeft"  data-wow-duration="3s" data-wow-delay="4s">
                            <p>
                                <i class="fas fa-envelope fa-sm mt-2 mr-3"></i>  Email: bejaouikhouloud98@gmail.com
                            </p>


                          </li>

                        </ul>
                  </div>
              </div>
          </section>
