<header class="l-header">
  <nav class="nav bd-grid">
      <div>
          <a href="#" class="nav__logo"></a>
      </div>

      <div class="nav__menu" id="nav-menu " id="navbarSupportedContent-7">
          <ul class="nav__list">
              <li class="nav__item"><a routerLink="/" class="nav__link ">Home</a></li>
              <li class="nav__item"><a routerLink="/about" class="nav__link">About</a></li>
              <li class="nav__item"><a routerLink="/skills" class="nav__link">Skills</a></li>
              <li class="nav__item"><a routerLink="/work" class="nav__link">Work</a></li>
              <li class="nav__item"><a routerLink="/certificate" class="nav__link">Certificate</a></li>
              <li class="nav__item"><a routerLink="/contact" class="nav__link">Contact</a></li>
          </ul>
      </div>

      <div class="navbar-toggler nav__toggle" data-toggle="collapse" id="nav-toggle" aria-controls="navbarSupportedContent-7"
          aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarSupportedContent-7">
          <i class='bx bx-menu'></i>
      </div>
  </nav>
</header>

