            <!--===== WORK =====-->
            <section class="work section" id="work">
              <h2 class="section-title">Work</h2>

              <div class="work__container bd-grid">
                  <div class="work__img">
                      <a href="#">
                        <img src="assets/pic_pr/blockchain.jpg" alt="">
                      </a>
                  </div>
                  <div class="work__img">
                    <a href="#">
                      <img src="assets/pic_pr/calendar.png" alt="">
                    </a>
                  </div>
                  <div class="work__img">
                    <a href="#">
                      <img src="assets/pic_pr/contactList.png" alt="">
                    </a>
                  </div>
                  <div class="work__img ">
                    <a href="#">
                      <img src="assets/pic_pr/CRUD.png" alt="">
                    </a>
                  </div>
                  <div class="work__img">
                    <a href="#">
                      <img src="assets/pic_pr/donation.png" alt="">
                    </a>
                  </div>
                  <div class="work__img">
                    <a href="#">
                      <img src="assets/pic_pr/tic-tac-toe.png" alt="">
                    </a>
                  </div>
              </div>
          </section>






