            <!--===== WORK =====-->
            <section class="work section" id="work">
              <h2 class="section-title">Work</h2>

              <div class="work__container bd-grid">
                  <div class="work__img wow fadeInLeft"  data-wow-duration="2s" data-wow-delay=".5s">
                      <a href="https://github.com/khouloud711/Blockchain_JS" target="_blank">
                        <img src="assets/pic_pr/blockchain.jpg" alt="">
                      </a>
                  </div>
                  <div class="work__img wow fadeInDown"  data-wow-duration="2s" data-wow-delay=".5s">
                    <a href="https://github.com/khouloud711/tactics_team" target="_blank">
                      <img src="assets/pic_pr/calendar.png" alt="">
                    </a>
                  </div>
                  <div class="work__img wow fadeInRight"  data-wow-duration="2s" data-wow-delay="1s">
                    <a href="https://github.com/khouloud711/project" target="_blank">
                      <img src="assets/pic_pr/contactList.png" alt="">
                    </a>
                  </div>
                  <div class="work__img wow fadeInLeft"  data-wow-duration="2s" data-wow-delay="1s">
                    <a href="https://github.com/khouloud711/CRUD" target="_blank">
                      <img src="assets/pic_pr/CRUD.png" alt="">
                    </a>
                  </div>
                  <div class="work__img wow fadeInUp"  data-wow-duration="2s" data-wow-delay=".5s">
                    <a href="https://donation-95ddf.web.app/" target="_blank">
                      <img src="assets/pic_pr/donation.png" alt="">
                    </a>
                  </div>
                  <div class="work__img wow fadeInRight"  data-wow-duration="2s" data-wow-delay=".5s">
                    <a href="https://khouloud711.github.io/tic-tac-toe/" target="_blank">
                      <img src="assets/pic_pr/tic-tac-toe.png" alt="">
                    </a>
                  </div>
                  <div class="work__img wow fadeInLeft"  data-wow-duration="2s" data-wow-delay="1s">
                    <a href="https://khouloud711.github.io/facebook_simulation/" target="_blank">
                      <img src="assets/pic_pr/kodebook.png" alt="">
                    </a>
                  </div>
                  <div class="work__img wow fadeInUp"  data-wow-duration="2s" data-wow-delay="1s">
                    <a href="https://khouloud711.github.io/todoapp/" target="_blank">
                      <img src="assets/pic_pr/todo.png" alt="">
                    </a>
                  </div>
                  <div class="work__img wow fadeInRight"  data-wow-duration="2s" data-wow-delay="1s">
                    <a href="https://khouloud711.github.io/QuizApp/" target="_blank">
                      <img src="assets/pic_pr/quiz.png" alt="">
                    </a>
                  </div>
                  <div class="work__img wow fadeInLeft"  data-wow-duration="2s" data-wow-delay="2s">
                    <a href="https://khouloud711.github.io/Covid_Tracker/" target="_blank">
                      <img src="assets/pic_pr/covid.png" alt="">
                    </a>
                  </div>
              </div>
          </section>
          <br><br>





