            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
              <div class="home__data wow fadeInDown" data-wow-duration="2s" data-wow-delay=".5s">
                  <h1 class="home__title ">Hi,<br>I'am <span class="home__title-color">Khouloud</span><br> Web Developer</h1>

                  <a routerLink="/contact" class="button wow fadeInDown" data-wow-duration="2s" data-wow-delay=".6s">Download CV</a>
              </div>

              <div class="home__social">
                  <a href="https://www.linkedin.com/in/khouloud-bejaoui-216416198/"target="_blank" class="home__social-icon wow fadeInDown"data-wow-duration="2s" data-wow-delay=".7s"><i class='bx bxl-linkedin ' ></i></a>
                  <a href="https://github.com/khouloud711" target="_blank"class="home__social-icon wow fadeInDown"data-wow-duration="2s" data-wow-delay=".9s"><i class='bx bxl-github' ></i></a>
              </div>

              <div class="home__img wow fadeInDown" data-wow-duration="3s" data-wow-delay=".5s">


                      <img src="assets/img/me.png" alt="">


              </div>
          </section>


