            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
              <div class="home__data">
                  <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Khouloud</span><br> Web Designer</h1>

                  <a href="#" class="button">Contact</a>
              </div>

              <div class="home__social">
                  <a href="https://www.linkedin.com/in/khouloud-bejaoui-216416198/" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                  <a href="" class="home__social-icon"><i class='bx bx-paper-plane' ></i></a>
                  <a href="https://github.com/khouloud711" class="home__social-icon"><i class='bx bxl-github' ></i></a>
              </div>

              <div class="home__img">

<svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" width="100%" id="blobSvg">
  <defs>
    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color: rgb(60, 165, 92);"></stop>
      <stop offset="100%" style="stop-color: rgb(181, 172, 73);"></stop>
    </linearGradient>
  </defs>
  <path id="blob" d="M407,285Q396,320,393.5,373Q391,426,343,437.5Q295,449,249,452.5Q203,456,185.5,404.5Q168,353,116.5,346Q65,339,91,294.5Q117,250,125.5,222Q134,194,145.5,164Q157,134,183,102Q209,70,246,88.5Q283,107,330.5,98Q378,89,383.5,136Q389,183,403.5,216.5Q418,250,407,285Z" fill="url(#gradient)"></path>
</svg>




              </div>
          </section>

