            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
              <h2 class="section-title">Skills</h2>

              <div class="skills__container bd-grid wow fadeInDown"  data-wow-duration="3s" data-wow-delay=".5s">
                  <div>
                      <h2 class="skills__subtitle">Profesional Skills</h2>
                      <p class="skills__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit optio id vero amet, alias architecto consectetur error eum eaque sit.</p>
                      <div class="skills__data wow fadeInLeft"  data-wow-duration="3s" data-wow-delay=".5s">
                          <div class="skills__names">
                              <i class='bx bxl-html5 skills__icon'></i>
                              <span class="skills__name">HTML5</span>
                          </div>
                          <div class="skills__bar skills__html">

                          </div>
                          <div>
                              <span class="skills__percentage">85%</span>
                          </div>
                      </div>
                      <div class="skills__data wow fadeInLeft"  data-wow-duration="3s" data-wow-delay=".6s">
                          <div class="skills__names">
                              <i class='bx bxl-css3 skills__icon'></i>
                              <span class="skills__name">CSS3</span>
                          </div>
                          <div class="skills__bar skills__css">

                          </div>
                          <div>
                              <span class="skills__percentage">75%</span>
                          </div>
                      </div>
                      <div class="skills__data wow fadeInLeft"  data-wow-duration="3s" data-wow-delay=".7s">
                        <div class="skills__names">
                            <i class='bx bxl-angular skills__icon'></i>
                            <span class="skills__name">Angular</span>
                        </div>
                        <div class="skills__bar skills__angular">

                        </div>
                        <div>
                            <span class="skills__percentage">50%</span>
                        </div>
                    </div>
                      <div class="skills__data wow fadeInLeft"  data-wow-duration="3s" data-wow-delay=".8s">
                          <div class="skills__names">
                              <i class='bx bxl-javascript skills__icon' ></i>
                              <span class="skills__name">JAVASCRIPT</span>
                          </div>
                          <div class="skills__bar skills__js">

                          </div>
                          <div>
                              <span class="skills__percentage">55%</span>
                          </div>
                      </div>
                      <div class="skills__data wow fadeInLeft"  data-wow-duration="3s" data-wow-delay=".8s">
                          <div class="skills__names">
                              <i class='bx bxs-paint skills__icon'></i>
                              <span class="skills__name">Bootstrap</span>
                          </div>
                          <div class="skills__bar skills__bt">

                          </div>
                          <div>
                              <span class="skills__percentage">70%</span>
                          </div>
                      </div>
                  </div>

                  <div class="wow fadeInDown"  data-wow-duration="3s" data-wow-delay=".5s">
                      <img src="assets/img/work3.jpg" alt="" class="skills__img">
                  </div>
              </div>
          </section>
